<nav class="navbar navbar-expand-lg card">
  <div class="container">
    <a class="navbar-brand" href="/">MEMORY BOOK</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="/memories">All Memories</a>
        </li>
        <li class="nav-item">
          <a href="/memories/new">Add A Memory</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
