body {
  background-image: url("../images/homepage.jpg");
  background-size: cover;
}

hr {
  border-color: gainsboro;
}

i {
  color: rgb(235, 64, 52);
}

a:hover {
  color: white;
}

.navbar a {
  color: white;
}

.nav-item a {
  color: white;
  margin-right: 20px;
}

.light-background {
  background-color: gainsboro;
}

.card {
  border-radius: 18px;
  background-color: rgb(25, 35, 38, 0.9);
  color: white;
}
